doctype
html(lang="zh-CN")
    head
        include head

    body
        div#stage.container
            div.row
                include sidebar
                div#main-container.col-sm-9.col-xs-12.main-container.invisible

                    block content
                    div.visible-xs.site-bottom-footer
                        include footer


        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js")
        //- script(async,defer,src= url_for('js/bootstrap.min.js'))
        //- script(async,defer,src= url_for('js/jquery-migrate-1.2.1.min.js'))
        //- script(async,defer,src= url_for('js/jquery.appear.js'))
        script(async,defer,src= url_for('js/typography.js'))
        script(async,defer,data-website-id="80e637e6-9cdd-4675-a19d-519785bdb3a8",src="https://umami.nekoq.eu.org/script.js",data-do-not-track="true",data-domains="taranakineko.pages.dev,nekoq.eu.org")
        script(async,defer,src= url_for('ie.js'))

