doctype
html(lang="zh-CN")
    head
        include head

    body
        div#stage.container
            div.row
                include sidebar
                div#main-container.col-sm-9.col-xs-12.main-container.invisible

                    block content
                    div.visible-xs.site-bottom-footer
                        include footer


        script(src= url_for('js/jquery-3.1.0.min.js'))
        script(async,defer,src= url_for('js/bootstrap.min.js'))
        script(async,defer,src= url_for('js/jquery-migrate-1.2.1.min.js'))
        script(async,defer,src= url_for('js/jquery.appear.js'))
        script(async,defer,src= url_for('js/typography.js'))
        script(async,defer,data-website-id="7e659108-8a8e-471b-99ee-14197b5f014c",src="https://umami.nekoq.eu.org/nya.js",data-do-not-track="true",data-domains="taranakineko.pages.dev,nekoq.eu.org")

