div#site-nav.site-title-links
    ul
        li
            if is_home()
                a.current(href=config.root)= __('Home')
            else
                a(href=config.root)= __('Home')
        include ../mixins
        +make_page_links()
        li.soc
            if theme.github
                a(href="https://github.com/" + theme.github, target="_blank", rel="noopener noreferrer", aria-label="Github")
                    i.ri-github-fill &nbsp;
            if theme.twitter
                a(href="https://twitter.com/" + theme.twitter, target="_blank", rel="noopener noreferrer", aria-label="Twitter")
                    i.ri-twitter-fill &nbsp;
            if theme.telegram
                a(href="https://t.me/" + theme.telegram, target="_blank", rel="noopener noreferrer", aria-label="Telegram")
                    i.ri-telegram-fill &nbsp;
            if theme.mastodon
                a(rel="me" href=theme.mastodon, target="_blank", aria-label="Mastodon")
                    i.ri-mastodon-fill &nbsp;
            if theme.rss
                a(href=config.url + "/" + theme.rss, target="_blank", rel="noopener noreferrer", aria-label="RSS")
                    i.ri-rss-fill &nbsp;
    div.visible-lg.visible-md.visible-sm.site-nav-footer
        br.site-nav-footer-br
        include footer